/* add your CSS here */
#box {
    border: 1px solid black;
    padding: 15px;
    width: 300px;
    background-color: green;
}


#Dogpic {
    width: 300px;
    Height: 200px;
    border: 1px solid black;
    margin-bottom: 10px;
}


#boxwithinbox {
    border: 1px solid black;
}


#fact {
    font-style: italic;
    margin-left: 10px;
    background-color: rgb(100%, 50%, 0%);
}


.list {
    list-style: none;
}


.label {
    font-weight: bold;
    font-size: 15px;
    }


.listfont {
    font-size: 11px;
}


#description {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}
